* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
    height: 100%;
    background-color: black;
}
.obj-glow {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    box-shadow:
        inset 0 0 .8em #fff,      /* inner white */
        inset 4em 0em 8em #f0f,   /* inner left magenta short */
        inset -4em 0em 8em #0ff,  /* inner right cyan short */
        inset 10em 0em 50em #f0f,  /* inner left magenta broad */
        inset -10em 0em 50em #0ff, /* inner right cyan broad */
        0 0 1.5em #fff,            /* outer white */
        -.5em 0 3em #f0f,        /* outer left magenta */
        .5em 0 3em #0ff;         /* outer right cyan */
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
}
.glow-text {
    padding-bottom: 50px;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
.obj-glow-container{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
